*{
	margin: 0px;
	padding: 0px;
}

:root{
	 background-image:url("../images/kite.jpg");
	 background-attachment:fixed;
	 background-repeat: no-repeat;
	 background-size:1900px ; 
}
li{
		list-style-type:none;
}
body{
	font-family: arial, verdana;
	height:100%;        
	background-color:rgba(100,100,100,0);
}
a, a:hover, a:focus{
	color:inherit;
	text-decoration:none;
}
.logger{
	color:#ACFA58;
}
.logge{
	color:red;
}
.menu {
	border-bottom:solid 3px  white;
	border-left:solid 3px  white;
	border-right:solid 3px  white;
	border-radius: 0px 0px 10px 10px;
}
.menu , footer{
	background-color: #5882FA;
}
li.unem{
		color:white;
		font-variant:small-caps;
		text-shadow:1px 1px 1px black;
}

.content{
	margin-top:130px;
	margin-bottom:100px;
	background-color: #5882FA;
	border-radius:10px;
	border:solid 2px  white;
}
.content table.adm{
	margin:50px 40px 10px 40px;
	color:#2E3B0B;
}
#pagin{
	display:inline-block;
	margin:20px;
	padding:10px;
	border-bottom:solid 1px white;
	
	color:white;
	text-shadow:1px 1px 1px black;
}



.izquierda{
	float: left;
	margin:15px 30px;
	background-color:#00FF80;
    border-radius: 40%; 
    text-shadow: 4px 4px 2px black;
    color:white;
   	font-variant: small-caps;
   	font-size: 1.7em;
}
.derecha{
	float: right;
	margin:15px 30px;
}
.content form label{
	min-width: 150px;
}
.nav{
	height:120px;

}
.nav ul li{
	
}
.nav li{
	margin-top:90px;
	display:inline-block;
	font-size:1.1em;
	margin-left:20px;
}
.content{
	text-align: center;
}
.lefting img, .righting img{
	height:100%;	
	width:100%;
}


	border-radius: 7px;
}
.butt{
	cursor: pointer;
}
.flex{
	flex:1;
}

.hidd{
	visibility: hidden;
	position:fixed;
}
.disp{
	visibility:visible;
}
.butt{
	position:absolute;
	right:-20px;
	top:-20px;
	height:40px;
}
.butadd{
	padding:10px;
	margin-bottom:20px;
	border:solid 1px white;
	background-color:green;
	border-radius:5px;
	color:white;
}
.butadd:hover{
	background-color:#21610B;
}
.butt{
	right:-10px;
	top:-10px;
	height:40px;
}
.butadd{
	position:fixed;
	top:260px;
	right:40px;
}
.content .most th{
	color: white;
	background-color: #c53104;
	text-align: center;
	font-weight: bold;
}
.content .most td, .content .most th{
	padding: 10px;
}
.content .most tr{
	background-color: #c53104;
}
.most img {
	height:100px;
}
#col{
	color:#FF8000;
	padding:10px;
	background-color:#c53104;
	border-radius:10px;
	text-shadow:1px 1px 1px black;
	display:inline-block;
}
.relative{
	position: relative;
	text-align: center;
}
.relative input:first-of-type{
	border-radius:0px;
	border:solid 1px black;
	color:black;
	display:block;
	width:25px;
	text-align:center;
	position: relative;
	left:17px;
}
table td ,table th{
	border:solid 2px #B43104;
}

.boten{
	border:solid 1px white;
	background-color:#c53104;
	border-radius:3px;
	padding:2px;
}
.bo1{
	background-color: #00BFFF;
}
.bo2{
	color:black;
	background-color: #DF3A01;	
}
.bo3{
	
	background-color: #F3F781;
}
.botoncin{
	padding: 10px;
	border:solid 2px black;
	border-radius: 5px;
	font-variant: small-caps;
	margin:20px 5px 5px 0px;
}
