*{
	margin: 0px;
	padding: 0px;
}

:root{
background-color:white;
}
li{
		list-style-type:none;
}
input{
	text-align:center;
}
.col{
	background-color:#FBFBEF;
}
input.peq{
	display: inline-block;
	width: 150px;
}
body{
	font-family: arial, verdana;
	width:80%;        
	background-color:rgba(100,100,100,0);
	margin-left: auto;
	margin-right: auto;
}
a, a:hover, a:focus{
	color:inherit;
	text-decoration:none;
}
.logger{
	color:#ACFA58;
}
.logge{
	color:red;
}
.flex{
	flex:1;
	margin-top:20px
}
.flex input{
	margin-bottom:5px;
}
.flexi{
	display:flex;
}
.menu {
	border-bottom:solid 2px  white;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
}
footer{
	border-top:solid 2px  white;
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
}
h2{
	margin:20px;
	font-variant: small-caps;
	color:#819FF7;
	text-shadow: 2px 1px 1px black;
}
.menu , footer{
	background-color: #74D1ED;
}
li.unem{
		color:white;
		font-variant:small-caps;
		text-shadow:1px 1px 1px black;
}

.content{
	margin-top:200px;
	margin-bottom:100px;

	background-color: #b9efdd;
	border-bottom:solid 2px  white;
	border-top:solid 2px  white;
}
.content2{
	margin-top:-20px;
	background-color: #b9efdd;
	border-bottom:solid 2px  white;
	border-top:solid 2px  white;
}
.content3{
	margin-top:-20px;
	margin-bottom:100px;
	background-color: #b9efdd;
	border-bottom:solid 2px  white;
	border-top:solid 2px  white;
}
table img{
	height:30px;
	padding:10px;
	margin:-10px;
}
.carga{
	width:100%;
	text-align:center;
}
#pagin{
	display:inline-block;
	margin:20px;
	padding:10px;
	
	color:white;
	text-shadow:1px 1px 1px black;
}



.izquierda{
	float: left;
	margin:15px 30px;
	background-color:#b9efdd;
    border-radius: 20px; 
    text-shadow: 2px 2px 2px black;
    color:#819FF7;
   	font-variant: small-caps;
   	font-size: 1.7em;
   	padding: 10px;
   	border:solid 2px #E6C4E0;
   	box-shadow: 2px 2px 5px black;
}
.derecha{
	float: right;
	margin:15px 30px;
}
.content form label{
	display: inline-block;
	min-width: 150px;
}
.content form input{
	width:100px;
}

.nav{
	height:120px;

}

.nav li{
	margin-top:90px;
	display:inline-block;
	font-size:1.1em;
	margin-left:20px;
}
.content, .content2{
	text-align: center;
}

.butt{
	cursor: pointer;
}

.hidd{
	visibility: hidden;
	position:fixed;
}
.disp{
	visibility:visible;
}
.butt{
	position:absolute;
	right:-20px;
	top:-20px;
	height:40px;
}
table{
	margin:10px 40px;
}
.butt{
	right:-10px;
	top:-10px;
	height:40px;
}
.auto{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 35px;
}

.most th{
	color: white;
	background-color: #5CBA9C;
	text-align: center;
	font-weight: bold;
}
 .most td,  .most th{
	padding: 10px;
}
.most tr{
	background-color: #74D1ED;
}
 .most tr:hover{
	background-color: #819FF7;
}
.cont{
	margin-top:150px;
	margin-bottom:100px;
	background-color: #b9efdd;
	border-bottom:solid 2px  white;
	border-top:solid 2px  white;
	text-align:left;
}
.det{
	font-variant:small-caps;
	display:inline-block;
	width:400px;
	
	margin:5px 50px 5px 100px;
}
h2.det{
	text-shadow:1px 1px 1px black;
}
.alilef{
	margin-top:30px;
	text-align:left;
}
#col{
	color:#FF8000;
	padding:10px;
	background-color:#c53104;
	border-radius:10px;
	text-shadow:1px 1px 1px black;
	display:inline-block;
}
.relative{
	position: relative;
	text-align: center;
}
.relative input:first-of-type{
	border-radius:0px;
	border:solid 1px black;
	color:black;
	display:block;
	width:25px;
	text-align:center;
	position: relative;
	left:17px;
}


.boten{
	border:solid 1px white;
	background-color:#c53104;
	border-radius:3px;
	padding:2px;
}
.bo1{
	background-color: #BABBDD;
}
.bo1:hover{
	background-color: #A1A3D5;
}
.bo2{
	color:black;
	background-color: #DF3A01;	
}
.bo2:hover{
	background-color: #A1A3D5;
}
.bo3{
	background-color: #F4F5AE;
}
.bo3:hover{
	background-color: #E3E57B;
}
.bo4:hover{
	background-color:#74D1ED;
}
.bo5:hover{
	background-color:#b9efdd;
}
.botoncin{
	padding: 5px;
	border:solid 1px black;
	border-radius: 5px;
	font-variant: small-caps;
	margin:10px;
	cursor:pointer;
}
.bot2{
	display:inline-block;
	margin-top:30px;
	margin-bottom:30px;
	margin-left:35%;
}

.pagpeque{
	height:30px;
}
.pagpeque img{
	height:100%;;
}

