*{
	margin: 0px;
	padding: 0px;
}

:root{
background-color:#F2F2F2;
}
li{
		list-style-type:none;
}
.most{
	margin-left:auto;
	margin-right:auto;
}
.rel{
	position:relative;
	text-align:center;
}
.i{
	position:absolute;
	bottom:24px;
	left:42%;
}
.d{
	position:absolute;
	bottom:24px;
	right:42%;
}
.small{
	font-variant:small-caps;
}
input{
	text-align:center;
}
.col{
	background-color:#FBFBEF;
}
.bien{
	margin-left:50px;
	margin-right:50px;
	margin-bottom:50px;
}
input.peq{
	display: inline-block;
	width: 150px;
}
body{
	font-family: arial, verdana;
	width:80%;        
	background-color:rgba(100,100,100,0);
	margin-left: auto;
	margin-right: auto;
}
a, a:hover, a:focus{
	color:inherit;
	text-decoration:none;
}
.logger{
	color:#61380B;
}
.logge{
	color:#2E64FE;
}
.flex{
	flex:1;
	margin-top:20px
}
.flex input{
	margin-bottom:5px;
}
.flexi{
	display:flex;
}
.menu {
	border-bottom:solid 1px  black;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index:20;
	height:123px;
}
footer{
	border-top:solid 1px  black;
	height:50px;
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:50px;
}
h2{
	margin:20px;
	font-variant: small-caps;
	color:#948C75;
	text-shadow: 2px 1px 1px black;
	font-size:1.7em;
}
.menu , footer{
	background-color: #ADB7B4;
	text-align:center;
}
li.unem{
		color:#D9CEB2;
		font-weight:bold;
		font-variant:small-caps;
		text-shadow:1px 1px 1px black;
		padding-left:10px;
}

.content{
	margin-top:140px;
	margin-bottom:100px;
	padding-top:20px;
	padding-bottom:20px;
	box-shadow:5px 5px 5px #848484;
}
.content2{
	padding-top:20px;
	padding-bottom:20px;
	margin-top:-20px;
	box-shadow:5px 5px 5px #848484;
}
.content3{
	padding-top:20px;
	padding-bottom:20px;
	margin-top:-60px;
	margin-bottom:100px;
	box-shadow:5px 5px 5px #848484;
	text-align:center;
}
table img{
	height:30px;
	padding:10px;
	margin:-10px;
}
.carga{
	width:100%;
	text-align:center;
}
#pagin{
	display:inline-block;
	margin:20px;
	padding:10px;
	
	color:white;
	text-shadow:1px 1px 1px black;
}
.izquierda{
	float: left;
	margin:10px 30px;
    text-shadow: 2px 2px 1px black;
    color:#927650;
   	font-variant: small-caps;
   	font-size: 1.7em;
}
.derecha{
	float: right;
	margin-bottom:30px;
	margin-right:30px;
}
.content form label{
	display: inline-block;
	min-width: 150px;
}
.content form input{
	width:100px;
}

.nav{
	height:80px;
	background-color:#E1D3AF;
	border-bottom:1px solid black;

}

.nav li{
	margin-top:90px;
	display:inline-block;
	font-size:1.1em;
	margin-left:20px;
}
.content, .content2, .cont2,.content3,.cont{
	text-align: center;
	background-color:#E5DCC3;
}


.butt{
	cursor: pointer;
}

.hidd{
	visibility: hidden;
	position:fixed;
}
.disp{
	visibility:visible;
}
.butt{
	position:absolute;
	right:-20px;
	top:-20px;
	height:40px;
}
table{
	margin:10px 40px;
}
.butt{
	right:-10px;
	top:-10px;
	height:40px;
}
.auto{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 35px;
}

.most th{
	text-align: center;
	font-weight: bold;
}
 .most td,  .most th{
	padding: 10px;
}
.cont{
	padding-top:20px;
	padding-bottom:20px;
	margin-top:150px;
	margin-bottom:100px;
	box-shadow:5px 5px 5px #848484;
	text-align:center;
}
.cont table{
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
.color{
	color:yellow;
	font-variant:small-caps;
	text-shadow:1px 1px 1px black;
	display:inline-block;
	margin-left:40px;
	font-size:1.2em;
}
.det{
	font-variant:small-caps;
	display:inline-block;
	width:200px;
	
	margin:5px 50px 5px 100px;
}
.point{
	cursor:pointer;
}
h2.det{
	text-shadow:1px 1px 1px black;
}
.alilef{
	margin-top:30px;
	text-align:left;
}
#col{
	color:#FF8000;
	padding:10px;
	background-color:#c53104;
	border-radius:10px;
	text-shadow:1px 1px 1px black;
	display:inline-block;
}
.relative{
	position: relative;
	text-align: center;
}
.relative input:first-of-type{
	border-radius:0px;
	border:solid 1px black;
	color:black;
	display:block;
	width:25px;
	text-align:center;
	position: relative;
	left:17px;
}


.boten{
	border:solid 1px white;
	background-color:#c53104;
	border-radius:3px;
	padding:2px;
}
.bo1{
	background-color: #BABBDD;
}
.bo1:hover{
	background-color: #A1A3D5;
}
.bo2{
	color:black;
	background-color: #DF3A01;	
}
.bo2:hover{
	background-color: #A1A3D5;
}
.bo3{
	background-color: #F4F5AE;
}
.bo3:hover{
	background-color: #E3E57B;
}
.bo4:hover{
	background-color:#74D1ED;
}
.bo5:hover{
	background-color:#b9efdd;
}
.botoncin{
	padding: 5px;
	border:solid 1px black;
	border-radius: 5px;
	font-variant: small-caps;
	margin:10px;
	cursor:pointer;
}
.bot2{
	display:inline-block;
	margin-top:30px;
	margin-bottom:30px;
	margin-left:35%;
}

.peque{
	height:30px;
}
.peque img{
	height:30px;
}
.pnoms{
	margin-left:50px;
	margin-bottom:20px;
	display:inline-block;
}
.noms{
	color:yellow;
}
table tr{
	background-color:#E2E7E1;
	
}
table tr:nth-of-type(even){
	background-color:#D5DED9;
}
table tr:hover{
	background-color:#CBD3CF;
	
}
table th{
	color:#7A6A53;
	background-color:#99B2B7;
	
}